 Objective:
“To analyze e-commerce sales data to identify sales and profit trends, top performing categories/products, regional performance, and business insights to improve profitability.”

DAY - 1 => To understand the dataset and plan the project like a real company task.

In [ ]:
import pandas as pd
df = pd.read_csv('ecommerce.csv')
df.head(5)
### check the shape of the dataset
df.shape
### show the every column data type
df.dtypes

Order Date          str
Product Name        str
Category            str
Region              str
Quantity          int64
Sales             int64
Profit          float64
dtype: object

In [ ]:
### use to change the datatype of column
df['Order Date'] = pd.to_datetime(df['Order Date'])
df.dtypes

Order Date      datetime64[us]
Product Name               str
Category                   str
Region                     str
Quantity                 int64
Sales                    int64
Profit                 float64
dtype: object

In [12]:
### check if the any row is null or not 
df.isnull()

      Order Date  Product Name  Category  Region  Quantity  Sales  Profit
0          False         False     False   False     False  False   False
1          False         False     False   False     False  False   False
2          False         False     False   False     False  False   False
3          False         False     False   False     False  False   False
4          False         False     False   False     False  False   False
...          ...           ...       ...     ...       ...    ...     ...
3495       False         False     False   False     False  False   False
3496       False         False     False   False     False  False   False
3497       False         False     False   False     False  False   False
3498       False         False     False   False     False  False   False
3499       False         False     False   False     False  False   False

[3500 rows x 7 columns]

In [ ]:
### check the any duplicated value is present or not
df.duplicated().sum()

np.int64(0)

KPI = key performance indicator 
Sales by Month
Profit by Month
Quantity by Month
Month-to-month comparison

In [ ]:
### create a column name year
df['Year'] = df['Order Date'].dt.year

### create a column name month
df['Month'] = df['Order Date'].dt.month

### create a name of month that can fill randomly
df['Month Name'] = df['Order Date'].dt.month_name()

### create a column year-month for better analysis
df['Year-Month'] = df['Order Date'].dt.to_period('M')

In [31]:
### find the total sales 
total_sales = df['Sales'].sum()
total_sales

### find the total profit
total_profit = df['Profit'].sum()
total_profit

np.float64(1844665.21)

In [35]:
### total quantity sold
total_quantity = df['Quantity'].sum()
total_quantity

### margin of the profit 
profit_margin = ( total_profit  /  total_sales ) * 100
profit_margin
df.head(5)

,Order Date,Product Name,Category,Region,Quantity,Sales,Profit,Year,Month,Month Name,Year-Month
0,2024-12-31,Printer,Office,North,4,3640,348.93,2024,12,December,2024-12
1,2022-11-27,Mouse,Accessories,East,7,1197,106.53,2022,11,November,2022-11
2,2022-05-11,Tablet,Electronics,South,5,5865,502.73,2022,5,May,2022-05
3,2024-03-16,Mouse,Accessories,South,2,786,202.87,2024,3,March,2024-03
4,2022-09-10,Mouse,Accessories,West,1,509,103.28,2022,9,September,2022-09

In [38]:
### check the monthly KPI
monthly_kpi = df.groupby('Year-Month')[['Sales','Profit','Quantity']].sum()
monthly_kpi

             Sales    Profit  Quantity
Year-Month
2022-01     341544  63827.33       540
2022-02     208775  34084.90       378
2022-03     294660  51931.81       466
2022-04     230624  44260.45       421
2022-05     314295  53504.97       484
2022-06     273851  48490.93       468
2022-07     214627  40010.27       358
2022-08     296242  47551.99       498
2022-09     240211  41402.82       409
2022-10     324989  52927.24       514
2022-11     257111  50120.69       457
2022-12     259041  44743.58       394
2023-01     343256  63708.78       524
2023-02     313931  53645.43       456
2023-03     303391  53442.67       518
2023-04     280808  49178.67       435
2023-05     346481  59087.73       536
2023-06     251686  43445.75       455
2023-07     320798  55207.40       513
2023-08     388428  65590.62       583
2023-09     303409  51010.49       457
2023-10     253145  44505.75       437
2023-11     306195  52537.37       469
2023-12     375064  75505.76       542
2024-01     282814  49744.18       443
2024-02     179708  31228.39       304
2024-03     341563  56762.15       548
2024-04     310444  52181.84       538
2024-05     373911  60700.45       593
2024-06     314268  51261.85       503
2024-07     309515  54026.44       540
2024-08     240269  39817.28       418
2024-09     341926  57851.73       533
2024-10     314135  55594.98       498
2024-11     291769  42179.73       488
2024-12     324997  53592.79       543